[alias]
	cm = commit
	co = checkout
	st = status
	br = branch
	wdiff = diff --word-diff=color
	dt = difftool
	tc = !tc.py
	lg = log -10 --oneline  --date=short --pretty=format:'%C(green)%h %Creset%ad%Cgreen%<(14,trunc) %aN %Creset%s'
	mgff = merge --no-commit
	dtc = difftool --cached
	po = push origin
	pr = pull --rebase
	diffc = diff --cached
	lga = log --oneline  --date=short --pretty=format:'%C(green)%h %Creset%ad%Cgreen%<(14,trunc) %aN %Creset%s'
	gn = grep -n
	cpk = cherry-pick
	dw = diff --color-words
	dwc = diff --color-words --cached
	gni = grep -n -i
	lg1 = log -1 --oneline  --date=short --pretty=format:'%C(green)%h %Creset%ad%Cgreen%<(14,trunc) %aN %Creset%s'
[user]
	name = Gurinder Singh
	email = gurinder.singh@1e.com
[diff]
	tool = winmerge
	mnemonicprefix = true
[difftool "winmerge"]
	cmd = winmerge.sh \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[gui]
	recentrepo = C:/Projects/NightWatchmanManagementCenter-git
[log]
	decorate = short
[http]
[push]
	default = simple
[http]
[core]
	autocrlf = true
	excludesfile = 
	preloadindex = true
	fscache = true
	commentchar = ";"
[http]
[http]
[http]
[http]
	sslverify = false
[credential]
	helper = wincred
[pull]
	ff = only
	rebase = true
